<div class="col-xs-3">
				<h2>User info</h2>
				<%= attachment_image_tag user, :profile_image, format: 'jpeg', size: "100x100", class: "img-square pull-left profile-img", fallback: "no_image.jpg" %>

				<table class="table">
					
					<tbody>
						<tr>
							<th>name</th>
							<th><%= user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= user.introduction %></th>
						</tr>
					</tbody>


				</table>

			<div class="row">
				<button type="button" class="btn btn-default btn-block" aria-label="Left Align"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
					<p><%= link_to "#", edit_user_path(current_user) %></p>
				</button>
			</div>


			<h2>New book</h2>

			<%= form_for(book) do |f| %>

			<% if book.errors.any? %>
			<p>error</p>
			<div class="alert alert-warning">
				<ul>
					<% book.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
				</ul>
			</div>
			<% end %>

			<div class="field row">
				<h4>Title</h4>
				<%= f.text_field :title %>
			</div>

			<div class="field row">
				<h4>Opinion</h4>
				<%= f.text_area :body %>
			</div>

			<div class="actions">
				<%= f.submit "Create Book", class: "btn btn-primary" %>
			</div>
			<% end %>

</div>