<div class="body">
	<div class="container">
		<!-- <p id="notice"></p> -->

		<h2>User info</h2>
		<%= form_for(@user) do |f| %>

		<% if @user.errors.any? %>
					<p>error</p>
					<div class="alert alert-warning">
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>


		<div class="form-group">
			<label class="">Name</label>
			<%= f.text_field :name %>
		</div>

		<div class="field">

			<label class="" >Image</label>
			<%= f.attachment_field :profile_image %>
		</div>

		<div class="field">
			<label class="user-introduction" >Introduction</label>
			<%= f.text_area :introduction, class: "user-introduction-form" %>
		</div>

		<div class="actions row">
		<%= f.submit "Update User" %>
		</div>

		<% end %>

	</div>
</div>

