<div class="body">
	<div class="container">
		<p id="notice"></p>

		<div class="row">

			<%= render 'users/list', user: @user, book: @book %>

			<div class="col-xs-9">
				<h2>Book detail</h2>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<%= attachment_image_tag @bosh.user, :profile_image, :fill, 60, 60, class: "img-square pull-left profile-thumb", fallback: "no_image.jpg" %>
								<br>
								<%= link_to @bosh.user.name, user_path(@user.id) %>
							</td>
							<td>
								<%= link_to @bosh.title, book_path(@bosh.id) %>
							</td>
							<td>
								<%= @bosh.body %>
							</td>
					<% if @bosh.user == current_user %>
							<td>
								<button type="button" class="btn btn-success">
									<%= link_to "Edit", edit_book_path(@bosh.id) %>
								</button>
							</td>
							<td>
								<button type="button" class="btn btn-danger">
									<%= link_to "Destroy", book_path(@bosh), method: :delete, "data-confirm" => "Are you sure?" %>
								</button>
							</td>
							<% end %>

						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>

