<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li class="">
            <%= link_to "Home", show_users_path %>
            </li>

            <li class="">
            <%= link_to "Users", index_user_path %>
            </li>

            <li class="">
            <%= link_to "Books", index_book_path %>

            <li class="">
              <%= link_to "logout", destroy_user_session_path, method: :delete %>
            </li>
            
            <% else %>
            <li class="">
            <%= link_to "Home", home_top_path %>
            </li>

            <li class="">
            <%= link_to "About", home_about_path %>

            <li class="">
            <%= link_to "sign up", new_user_registration_path %>

            <li class="">
            <%= link_to "login", new_user_session_path %>
            </li>

            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <br />
    <br />

    <%= yield %>
  </body>
</html>
